body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
div {
  background: green;
  width: 5px;
  height: 5px;
  box-shadow: 5px 5px 10px grey;
}
div:hover {
  animation: animacion 2.5s;
  animation-fill-mode: both;
}
@keyframes animacion {
  0% {
    width: 5px;
    height: 5px;
  }
  50% {
    width: 20px;
    height: 100px;
  }
  100% {
    width: 200px;
    height: 100px;
  }
}
