* {
  margin: 0;
  padding: 0;
}
#cuadrado {
  background-color: green;
  height: 100px;
  width: 100px;
  position: absolute;
  animation: infinite prueba 3s;
}

@keyframes prueba {
  0% {
    left: 0px;
    top: 0px;
    background-color: green;
  }
  25% {
    left: 400px;
    top: 0px;
    background-color: blue;
  }
  50% {
    left: 400px;
    top: 400px;
    background-color: red;
  }
  75% {
    left: 0px;
    top: 400px;
  }
  100% {
    left: 0px;
    top: 0px;
    background-color: yellow;
  }
}
