body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
h1 {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: escribir 2s steps(24);
  animation-fill-mode: backwards;
}
@keyframes escribir {
  from {
    width: 0%;
  }
  to {
    width: 38%;
  }
}
