@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.rueda {
  height: 100px;
  width: 100px;
  border: solid 5px lightgrey;
  border-bottom-color: greenyellow;
  border-radius: 100%;
  animation: 2s linear infinite spinner;
}
