* {
  margin: 0;
  padding: 0;
  background-color: white;
}

div {
  width: 100px;
  height: 100px;
  margin: auto;
}

h1 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cuadrado {
  animation: cambioColorCuadrado 3s linear infinite alternate both;
}

@keyframes cambioColorCuadrado {
  0% {
    background-color: green;
  }
  33% {
    background-color: blue;
  }
  66% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}
